In [5]:
# Import packages
import requests
import pandas as pd
import numpy as np

In [3]:
url = (f"http://api.census.gov/data/{YEAR}/cps/voting/nov")
#Doesn't work for all years - need to compare what parameters work for specific years
# Scrape site https://api.census.gov/data.html, tr that includes "Voting Supplement", aref text variables
# for each aref variables, variables = 
#param_list = "PES1,PES2,GESTCEN,GEREG,PESEX,PRTAGE,PEMARITL,HEHOUSUT,HRNUMHOU,PEAFNOW,PEEDUCA,PEERNHRO,PTERNH1O,PEMLR,PREXPLF,PRWKSTAT"
param_list = "GEREG,PESEX,PRTAGE,PEMARITL,HEHOUSUT,HRNUMHOU,PEAFNOW,PEERNHRO,PTERNH1O,PEMLR,PREXPLF,PRWKSTAT"
#GEMETSTA
#PERACE
r = requests.get(url,
                params = {"get": param_list,
                         "for": f"state:{STATE}"})

In [4]:
census_df = pd.DataFrame(data = r.json())

census_df.rename(columns = census_df.iloc[0], inplace = True)
census_df.drop([0], axis = 0, inplace = True)

#census_df = census_df.astype({"PES1": int, "PES2": int})#, "GESTCEN": int, 
                              #"GEMETSTA": int, "GEREG": int, "PERACE": int,
                              #"PESEX" : int, "PRTAGE": int, "PEMARITL": int,
                              #"HEHOUSUT": int, "HRNUMHOU": int, "PEAFNOW": int,
                              #"PEEDUCA": int, "PEERNHRO": int, "PTERNH1O": float, 
                              #"PEMLR": int,  "PREXPLF": int, "PRWKSTAT": int, "state": int})

census_df.columns = {#"PES1": "Voted", "PES2": "Registered_to_Vote", 
                            #"GESTCEN": "State_Code", "GEMETSTA": "Metropolitan_Status", 
                            "GEREG": "Geographic_Region", #"PERACE": "Race", 
                            "PESEX": "Gender", "PRTAGE": "Age", 
                            "PEMARITL": "Marital_Status", "HEHOUSUT": "Household_Type", 
                            "HRNUMHOU": "Household_Members", "PEAFNOW": "In_Armed_Foces", 
                            #"PEEDUCA": "Education_Completed", 
                            "PEERNHRO": "Hours_Worked", 
                            "PTERNH1O": "Hourly_Pay", "PEMLR": "Employment_Status_Complex", 
                            "PREXPLF": "Employment_Status", "PRWKSTAT": "Full_Parttime"}, 
                 inplace = True)

census_df.head()

IndentationError: unexpected indent (<ipython-input-4-c81df11171d4>, line 23)

In [ ]:
# GESTCEN: Geography-census state code: 
state_codes = {64: "MS", 34: "MI", 59: "FL", 85: "NM", 13: "VT",
               56: "NC", 61: "KY", 46: "NE", 57: "SC", 71: "AR", 
               11: "ME", 43: "MO", 73: "OK", 88: "NV", 45: "SD", 
               93: "CA", 16: "CT", 31: "OH", 58: "GA", 72: "LA", 
               63: "AL", 14: "MA", 21: "NY", 15: "RI", 86: "AZ", 
               54: "VA", 51: "DE", 74: "TX", 91: "WA", 55: "WV", 
               84: "CO", 23: "PA", 52: "MD", 83: "WY", 32: "IN", 
               62: "TN", 81: "MT", 44: "ND", 53: "DC", 82: "ID", 
               95: "HI", 35: "WI", 42: "IA", 47: "KS", 12: "NH", 
               94: "AK", 41: "MN", 92: "OR", 33: "IL", 87: "UT", 
               22: "NJ"}

# GEMESTRA: Geography-metropolitan status
metro_status = {1: "Metropolitan", 2: "Nonmetropolitan", 3: "Not Identified"}

# GEREG: Geography-region
geo_region = {1: "Northeast", 2: "Midwest", 3: "South", 4: "West"}

# HEHOUSUT: Household-type
house_type = {2: "Hu In Nontransient Hotel, Motel, Etc.", 7: "Hu Not Specified Above",
              10: "Unoccupied Tent Site Or Trlr Site", 8: "Quarters Not Hu In Rooming Or Brding Hs",
              1: "House, Apartment, Flat", 9: "Unit Not Perm. In Transient Hotl, Motl", 
              12: "Other Unit Not Specified Above", 0: "Other Unit", 
              4: "Hu In Rooming House", 11: "Student Quarters In College Dorm", 
              3: "Hu Permanent In Transient Hotel, Motel", 6: "Mh Or Trlr W/1 Or More Perm Rms Added",
              5: "Mobile Home Or Trlr W/No Perm Rm Added"}

# HRNUMHOU: Number of household members, min is 0, max is 16

# PEAFNOW: Currently in armed forces, 1 is yes, 2 is no

# PEEEDUCA: Highest level of school completed (maybe could replace PECYC and PEDIPGED)
school = {46: "DOCTORATE DEGREE(EX:PhD,EdD)", 33: "5th Or 6th Grade", 
          44: "MASTER'S DEGREE(EX:MA,MS,MEng,MEd,MSW)", 39: "High School Grad-Diploma Or Equiv (ged)",
          42: "Associate Deg.-Academic Program", 31: "Less Than 1st Grade", 
          38: "12th Grade No Diploma", 40: "Some College But No Degree", 
          -1: "Not in Universe", 32: "1st,2nd,3rd Or 4th Grade", 
          43: "Bachelor's Degree(ex:ba,ab,bs)", 37: "11th Grade", 
          45: "Professional School Deg(ex:md,dds,dvm)", 36: "10th Grade", 
          35: "9th Grade", 34: "7th Or 8th Grade", 
          41: "Associate Degree-Occupational/Vocationl"}

# PEEERNHO: Hours usually worked, min is 0, max is 99

# PTERNH1O: Hourly pay rate, min is 0, max is 99.99

# PEMARITL: Marital Status
marital_status = {-1: "Not in Universe", 1: "Married-Spouse Present", 2: "Married-Spouse Absent",
                 3: "Widowed", 4: "Divorced", 5: "Separated", 6: "Never Married"}

# PEMLR: Employment Status
employ_status = {-1: "Not in Universe", 1: "Employed-At Work", 2: "Employed-Absent", 
                3: "Unemployed-On Layoff", 4: "Unemployed-Looking", 5: "Retired-Not In Labor Force",
                6: "Disabled-Not In Labor Force", 7: "Other-Not In Labor Force"}

# PREXPLF: Employed/Unemployed, 1 is Employed, 2 is Unemployed

# PERACE: Race
race = {1: "White", 2: "Black", 4: "Asian or Pacific Islander", 3: "American Indian, Aluet, Eskimo"}

# PES1: Vote in Nov election, 1 is yes, 2 is no, -3 is refused, -9 is no response, -2 is don't know

# PES2: Registered to vote in Nov election, same as above

# PESEX: Gender, 1 is F, 2 is M

# PRTAGE: Age, min is 0, max is 90

# PRWKSTAT: Full time/part time
full_part = {"2": "FT hours (35+), usually fT", "11": "Unemployed FT", 
             "10": "Not at work, Usually Part-Time", "5": "Not At Work, Usually FT", 
             "4": "PT for non-economic reasons, usually FT", "6": "PT Hours, Usually PT For Economic Reasons",
             "3": "PT for economic reasons, usually FT", "-1": "In Universe, Met No Conditions To Assign",
             "12": "Unemployed PT", "7": "PT hrs, Usually PT For Non-Economic", 
             "1": "Not in labor force", "8": "FT Hours, Usually PT For Economic Reas", 
             "9": "FT hrs, Usually PT For Non-Economic"}

In [17]:
year = 2016
STATE = '*'

years = ['1994', '1996', '1998', '2000', '2002', '2004', '2006', '2008', '2010', '2012', '2014', '2016', '2018', '2020']
statedict = {'AL': '1', 'AK': '2', 'AZ': '4', 'AR': '5', 'CA': '6', 'CO': '8', 'CT': '9', 'DE': '10', 'DC': '11', 'FL': '12',
             'GA': '13', 'HI': '15', 'ID': '16', 'IL': '17', 'IN': '18', 'IA': '19', 'KS': '20', 'KY': '21', 'LA': '22', 
             'ME':'23', 'MD': '24', 'MA': '25', 'MI': '26', 'MN': '27', 'MS': '28', 'MO': '29', 'MT': '30', 'NE': '31', 'NV': 
             '32', 'NH': '33', 'NJ': '34', 'NM': '35', 'NY': '36', 'NC': '37', 'ND': '38', 'OH': '39', 'OK': '40', 'OR': '41', 
             'PA': '42', 'RI': '44', 'SC': '45', 'SD': '46', 'TN': '47', 'TX': '48', 'UT': '49', 'VT': '50', 'VA': '51', 'WA': 
             '53', 'WV': '54', 'WI': '55', 'WY': '56'}
rvsestatedict = {v: k for k, v in statedict.items()}

In [50]:
url = (f"http://api.census.gov/data/{year}/cps/voting/nov")

# Get parameters - some are called different variables in different years
if (year == '1994'):
    param_list = "PES3,PES4,GEMETSTA,GEREG,PERACE,PRHSPNON,PESEX,PRTAGE,PEMARITL,HRNUMHOU,PEAFNOW,PEEDUCA,HUFAMINC,PREXPLF,PRFTLF"
elif(year == '1996' or year == '1998' or year == '2000' or year == '2002'):
    param_list = "PES1,PES2,GEMETSTA,GEREG,PERACE,PRHSPNON,PESEX,PRTAGE,PEMARITL,HRNUMHOU,PEAFNOW,PEEDUCA,HUFAMINC,PREXPLF,PRFTLF"
elif(year == '2004' or year == '2006' or year == '2008'):
    param_list = "PES1,PES2,GTMETSTA,GEREG,PTDTRACE,PEHSPNON,PESEX,PRTAGE,PEMARITL,HRNUMHOU,PEAFNOW,PEEDUCA,HUFAMINC,PREXPLF,PRFTLF"
else:
    param_list = "PES1,PES2,GTMETSTA,GEREG,PTDTRACE,PEHSPNON,PESEX,PRTAGE,PEMARITL,HRNUMHOU,PEAFNOW,PEEDUCA,HEFAMINC,PREXPLF,PRFTLF"

r = requests.get(url,
                params = {"get": param_list,
                         "for": f"state:{STATE}"})

# Create dataframe with data
census_df = pd.DataFrame(data = r.json())
census_df.rename(columns = census_df.iloc[0], inplace = True)
census_df.drop([0], axis = 0, inplace = True)
# Change column names
census_df.columns = ["Voted", "Registered_to_Vote", "Metropolitan",
                     "Geographic_Region", "Race", "Hispanic",
                     "Female", "Age", "Marital_Status", 
                     "Household_Members", "In_Armed_Forces", 
                     "Education_Completed", "Family_Income_category", "Employment_Status", 
                     "Full_Time", "State"]
# Replace number with state abbreviation
census_df.replace({'State': rvsestatedict}, inplace = True)
# Change column types
census_df = census_df.astype({"Voted": int, "Registered_to_Vote": int, "Metropolitan": int, 
                              "Geographic_Region": int, "Race": int, "Hispanic": int, "Female": int,
                              "Age" : int, "Marital_Status": int, "Household_Members": int, 
                              "In_Armed_Forces": int, "Education_Completed": int,
                              "Family_Income_category": int, "Employment_Status": int, "Full_Time": int, "State": str})
col2 = census_df.pop('State')
census_df.insert(0, 'State', col2)

In [51]:
# PREPROCESSING

# Turn some columns into binary or categorical variables - change 2/1 to be 0/1, and make all other values NA (were previously refused response, no response, don't know, or not in universe)
census_df.Voted.replace({1:1, 2: 0, -1: np.nan, -3: np.nan, -9: np.nan, -2: np.nan},inplace = True)
census_df.Registered_to_Vote.replace({1:1, 2: 0, -1: np.nan, -3: np.nan, -9: np.nan, -2: np.nan}, inplace = True)
#census_df[census_df.Voted == 1].Registered_to_Vote.replace({np.nan: 1}, inplace = True)
census_df.Female.replace({1:1, 2: 0},inplace = True)
census_df.Hispanic.replace({1:1, 2: 0}, inplace = True)
census_df.Race = np.where(census_df.Race > 4, "Other", census_df.Race)
census_df.Race.replace({'1': "White", '2': "Black", '4': "Asian", '3': "American Indian, Aluet, Eskimo"}, inplace = True)
census_df.Marital_Status.replace({1:1, 2: 1, 3: 0, 4: 0, 5: 0, 6: 0, -1: np.nan},inplace = True)
census_df.In_Armed_Forces.replace({1:1, 2: 0, -1: np.nan},inplace = True)
census_df.Employment_Status.replace({1:1, 2: 0, -1: np.nan, 127: np.nan},inplace = True)
census_df.Full_Time.replace({1:1, 2: 0, -1: np.nan, 127: np.nan},inplace = True)
census_df.Metropolitan.replace({1:1, 2: 0, 3: np.nan}, inplace = True)
census_df.Geographic_Region.replace({1: "Northeast", 2: "Midwest", 3: "South", 4: "West"}, inplace = True)
census_df.Education_Completed = np.where(census_df.Education_Completed < 39, "No_HS_Diploma", census_df.Education_Completed)
census_df.Education_Completed.replace({'46': "Doctorate", '44': "Masters",
                                       '39': "HighSchool/GED",'42': "Associates", 
                                       '40': "Some_College",'-1': np.nan, '43': "Bachelors",
                                       '45': "Professional_School",'41': "Associates"},inplace = True)
census_df.Family_Income_category.replace({-1: np.nan, -2: np.nan, -3: np.nan}, inplace = True)

# Create different version of family income variable, 1 if greater than $50,000, 0 if less
census_df['Family_Income_dummy'] = np.where(census_df.Family_Income_category > 11, 1, 0)
# Create different version of family income variable that is the middle of the range (or highest of the range in the case of the lowest value, lowest of the range in the case of the highest value)
census_df['Family_Income_actual'] = census_df.Family_Income_category.replace({1: 5000, 2: 6250, 3: 8250, 4: 11250, 5: 13750, 
                                                                           6: 17500, 7: 22500, 8: 27500, 9: 32500, 10: 37500,
                                                                           11: 45000, 12: 55000, 13: 67500, 14: 87500, 
                                                                           15: 125000, 16: 150000})

# Create dummy variables for categorical variables
census_df = pd.get_dummies(census_df, columns = ['Geographic_Region', 'Race', 'Education_Completed'], drop_first = True)

In [52]:
census_df.Voted.value_counts()

1.0    58533
0.0    22238
Name: Voted, dtype: int64

In [53]:
test = census_df[census_df.Voted == 1]
test.Registered_to_Vote.value_counts()

Series([], Name: Registered_to_Vote, dtype: int64)

In [78]:
census_df.loc[census_df.Voted == 1, 'Registered_to_Vote'] = 1

In [66]:
test = census_df[census_df.Voted == 1]

In [70]:
test.loc[:, ('Registered_to_Vote')] = 1

In [71]:
test.Registered_to_Vote

1         1
2         1
4         1
5         1
8         1
         ..
131373    1
131374    1
131387    1
131388    1
131389    1
Name: Registered_to_Vote, Length: 58533, dtype: int64

In [79]:
census_df[census_df.Voted == 1]

,State,Voted,Registered_to_Vote,Metropolitan,Hispanic,Female,Age,Marital_Status,Household_Members,In_Armed_Forces,...,Race_Black,Race_Other,Race_White,Education_Completed_Bachelors,Education_Completed_Doctorate,Education_Completed_HighSchool/GED,Education_Completed_Masters,Education_Completed_No_HS_Diploma,Education_Completed_Professional_School,Education_Completed_Some_College
1,AL,1.0,1.0,1.0,0,1,63,0.0,3,0.0,...,0,0,1,0,0,0,1,0,0,0
2,AL,1.0,1.0,1.0,0,1,31,0.0,3,0.0,...,0,0,1,0,0,1,0,0,0,0
4,AL,1.0,1.0,1.0,0,0,45,1.0,4,0.0,...,0,0,1,1,0,0,0,0,0,0
5,AL,1.0,1.0,1.0,0,1,52,1.0,4,0.0,...,0,0,1,0,0,0,1,0,0,0
8,AL,1.0,1.0,1.0,0,0,45,1.0,6,0.0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131373,SC,1.0,1.0,1.0,0,1,30,0.0,5,0.0,...,0,0,1,0,0,1,0,0,0,0
131374,SC,1.0,1.0,1.0,0,0,24,0.0,5,0.0,...,0,0,1,1,0,0,0,0,0,0
131387,WY,1.0,1.0,0.0,0,1,44,1.0,2,0.0,...,0,0,1,0,0,0,0,0,0,1
131388,WY,1.0,1.0,0.0,0,0,33,1.0,2,0.0,...,0,0,1,0,0,0,0,0,0,0
131389,WY,1.0,1.0,0.0,0,0,66,0.0,1,0.0,...,0,0,1,0,0,1,0,0,0,0